# Description of the program
## This program read the vicue data and then seperated it in two groups: G1: 20% data, G2:80% data
## G1 is stored data in a seperad file
## G2 is oversampled by SMOTE and stored data in a seperated file

In [1]:
#Read all data
import csv
import pandas as pd
dataset=pd.read_csv('Dataset/DACdataset.csv')
dataset.head()

,ID,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,A3MC5OA9RXOOFH,0.044,0.076,0.058,0.035,0.089,0.079,0.016,0.005,0.008,...,0.759,0.761,0.765,0.765,0.753,0.043,0.049,1.0,0.012,0.003
1,A3MC5OA9RXOOFH,0.041,0.026,0.016,0.018,0.060,0.080,0.052,0.049,0.029,...,0.697,0.697,0.698,0.698,0.694,0.056,0.039,0.0,0.009,0.043
2,A3MC5OA9RXOOFH,0.040,0.027,0.118,0.068,0.052,0.010,0.021,0.013,0.046,...,0.680,0.677,0.677,0.684,0.684,0.105,0.031,0.0,0.008,0.060
3,A3MC5OA9RXOOFH,0.021,0.011,0.006,0.011,0.044,0.022,0.011,0.048,0.047,...,0.668,0.667,0.667,0.672,0.677,0.067,0.020,1.0,0.014,0.010
4,A3MC5OA9RXOOFH,0.126,0.071,0.051,0.060,0.092,0.017,0.146,0.194,0.116,...,0.756,0.756,0.761,0.761,0.740,0.057,0.126,0.0,0.011,0.045

In [2]:

dataset.rename(columns = {'ID':'Label'}, inplace = True)
dataset['Label'] = pd.factorize(dataset['Label'])[0]
dataset.groupby(['Label'])['Label'].count()

Label
0      180
1      140
2      140
3      120
4      140
      ...
188    140
189    140
190    140
191    140
192    140
Name: Label, Length: 193, dtype: int64

In [3]:
dataset.head()

,Label,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,0,0.044,0.076,0.058,0.035,0.089,0.079,0.016,0.005,0.008,...,0.759,0.761,0.765,0.765,0.753,0.043,0.049,1.0,0.012,0.003
1,0,0.041,0.026,0.016,0.018,0.060,0.080,0.052,0.049,0.029,...,0.697,0.697,0.698,0.698,0.694,0.056,0.039,0.0,0.009,0.043
2,0,0.040,0.027,0.118,0.068,0.052,0.010,0.021,0.013,0.046,...,0.680,0.677,0.677,0.684,0.684,0.105,0.031,0.0,0.008,0.060
3,0,0.021,0.011,0.006,0.011,0.044,0.022,0.011,0.048,0.047,...,0.668,0.667,0.667,0.672,0.677,0.067,0.020,1.0,0.014,0.010
4,0,0.126,0.071,0.051,0.060,0.092,0.017,0.146,0.194,0.116,...,0.756,0.756,0.761,0.761,0.740,0.057,0.126,0.0,0.011,0.045

In [4]:
#estimate the null data in each column
dataset.isnull().sum()

Label    0
1        0
2        0
3        0
4        0
        ..
61       0
62       0
63       0
64       0
65       0
Length: 66, dtype: int64

In [5]:
#minimum value of each feature
dataset.min()

Label    0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
61       0.0
62       0.0
63       0.0
64       0.0
65       0.0
Length: 66, dtype: float64

In [6]:
#maimum value of each feature
pd.DataFrame(dataset.max())

             0
Label  192.000
1        0.246
2        0.240
3        0.231
4        0.242
...        ...
61       0.328
62       0.250
63       1.000
64       0.043
65       0.183

[66 rows x 1 columns]

In [7]:
#normalized the data
df_max_scaled = dataset.copy()
  
# apply normalization techniques on Column 1
for i in range(1,66):
    column = str(i)
    df_max_scaled[column] = df_max_scaled[column] /df_max_scaled[column].abs().max()
    dataset[column]=df_max_scaled[column]
# view normalized data
display(dataset)

,Label,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
0,0,0.178862,0.316667,0.251082,0.144628,0.366255,0.323770,0.065844,0.020243,0.032129,...,0.731214,0.732435,0.736285,0.734870,0.707042,0.131098,0.196,1.0,0.279070,0.016393
1,0,0.166667,0.108333,0.069264,0.074380,0.246914,0.327869,0.213992,0.198381,0.116466,...,0.671484,0.670837,0.671800,0.670509,0.651643,0.170732,0.156,0.0,0.209302,0.234973
2,0,0.162602,0.112500,0.510823,0.280992,0.213992,0.040984,0.086420,0.052632,0.184739,...,0.655106,0.651588,0.651588,0.657061,0.642254,0.320122,0.124,0.0,0.186047,0.327869
3,0,0.085366,0.045833,0.025974,0.045455,0.181070,0.090164,0.045267,0.194332,0.188755,...,0.643545,0.641963,0.641963,0.645533,0.635681,0.204268,0.080,1.0,0.325581,0.054645
4,0,0.512195,0.295833,0.220779,0.247934,0.378601,0.069672,0.600823,0.785425,0.465863,...,0.728324,0.727623,0.732435,0.731028,0.694836,0.173780,0.504,0.0,0.255814,0.245902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25615,192,0.040650,0.108333,0.199134,0.095041,0.102881,0.036885,0.074074,0.085020,0.216867,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.228659,0.272,1.0,0.372093,0.027322
25616,192,0.158537,0.133333,0.060606,0.016529,0.053498,0.057377,0.193416,0.542510,0.710843,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.225610,0.700,1.0,0.255814,0.371585
25617,192,0.500000,0.375000,0.147186,0.095041,0.390947,0.598361,0.193416,0.218623,0.369478,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.198171,0.900,1.0,0.209302,0.109290
25618,192,0.040650,0.320833,0.190476,0.128099,0.098765,0.028689,0.098765,0.105263,0.216867,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.381098,0.176,1.0,0.186047,0.109290
25619,192,0.073171,0.037500,0.043290,0.053719,0.098765,0.061475,0.152263,0.052632,0.088353,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.198171,0.088,1.0,0.302326,0.081967

In [8]:
#replace the user ID by class name and count the number of sample in each class
dataset['Label'] = pd.factorize(dataset['Label'])[0]
dataset.groupby(['Label'])['Label'].count()

Label
0      180
1      140
2      140
3      120
4      140
      ...
188    140
189    140
190    140
191    140
192    140
Name: Label, Length: 193, dtype: int64

In [9]:
#seperate the 20.0% data from each profile for test purpose
from sklearn.model_selection import train_test_split
dataset1, test = train_test_split(dataset, test_size=0.2, random_state=42, shuffle=True)

In [10]:
#This data will go for oversample
#dataset1['Label'] = pd.factorize(dataset1['Label'])[0]
dataset1.groupby(['Label'])['Label'].count()

Label
0      151
1      108
2      109
3       98
4      118
      ...
188    106
189    102
190    120
191    107
192    114
Name: Label, Length: 193, dtype: int64

In [11]:
#replace the user ID by class name and count the number of sample in each class
#test['Label'] = pd.factorize(test['Label'])[0] 
test.groupby(['Label'])['Label'].count()
test.to_csv('Dataset\DACDatatest.csv')

In [12]:
import csv
import numpy as np
import pandas as pd
#import seaborn as sns
from imblearn.combine import SMOTETomek
from imblearn.over_sampling import SMOTE, ADASYN
from collections import Counter

import warnings
warnings.filterwarnings('ignore')

#Special line for normalized and non-normalized data
AllDataSet=dataset
#print(AllDataSet)
#Seperate minority and majority class
length2 = len(AllDataSet)
print(length2)

#indx=0
for indx in range(0,193):
    minClass=AllDataSet[AllDataSet['Label']==indx]
    majClass=AllDataSet[AllDataSet['Label']!=indx]
    minClass["Label"]=0
    majClass["Label"]=1
    majClass=majClass.head(300)
    #print(len(minClass))
    #print(len(majClass))
    frames = [minClass, majClass]
    Class = pd.concat(frames)
    X=Class.drop(['Label'], axis=1)
    Y=Class['Label']
        
    #print(FClass)
    #sns.countplot('ID', data = Class)
    oversample = SMOTE()
    X_res, y_res = oversample.fit_resample(X, Y)

    OversampledData=X_res
    OversampledData['Label']=y_res
    #OversampledData.Label.value_counts()
    dFClass=OversampledData[OversampledData['Label']==0]
    dFClass['Label']=indx
    if indx==0:
        AllClass=dFClass
    else:
        AllClass=pd.concat([AllClass,dFClass])

AllClass.reset_index()    
print(len(AllClass))

25620
57940

In [13]:
AllClass.head()

,1,2,3,4,5,6,7,8,9,10,...,57,58,59,60,61,62,63,64,65,Label
0,0.178862,0.316667,0.251082,0.144628,0.366255,0.323770,0.065844,0.020243,0.032129,0.060729,...,0.732435,0.736285,0.734870,0.707042,0.131098,0.196,1.0,0.279070,0.016393,0
1,0.166667,0.108333,0.069264,0.074380,0.246914,0.327869,0.213992,0.198381,0.116466,0.085020,...,0.670837,0.671800,0.670509,0.651643,0.170732,0.156,0.0,0.209302,0.234973,0
2,0.162602,0.112500,0.510823,0.280992,0.213992,0.040984,0.086420,0.052632,0.184739,0.259109,...,0.651588,0.651588,0.657061,0.642254,0.320122,0.124,0.0,0.186047,0.327869,0
3,0.085366,0.045833,0.025974,0.045455,0.181070,0.090164,0.045267,0.194332,0.188755,0.323887,...,0.641963,0.641963,0.645533,0.635681,0.204268,0.080,1.0,0.325581,0.054645,0
4,0.512195,0.295833,0.220779,0.247934,0.378601,0.069672,0.600823,0.785425,0.465863,0.477733,...,0.727623,0.732435,0.731028,0.694836,0.173780,0.504,0.0,0.255814,0.245902,0

In [14]:
#replace the user ID by class name and count the number of sample in each class
#AllClass['Label'] = pd.factorize(AllClass['Label'])[0]
AllClass.groupby(['Label'])['Label'].count()

Label
0      300
1      300
2      300
3      300
4      300
      ...
188    300
189    300
190    300
191    300
192    300
Name: Label, Length: 193, dtype: int64

In [30]:
AllClass.to_csv('Dataset\OversampledDACData.csv')